__pycache__/
data/
pred/
.hypothesis/
.config/

flash_attn*
plot*
nah_inputs.txt
InfLLM/data
InfLLM/benchmark/data
InfLLM/benchmark/output
diff_51.sh
vq_method/vq_no_decoding_compress.py
vq_method/h2o_llama.py
vq_method/retrieval_based/sparq_official_backup
vq_method/retrieval_based/sparq.py.unofficial
vq_method/retrieval_based/pq_search_no_decoding_compress.py
vq_method/retrieval_based/pq_search_try.py
vq_method/retrieval_based/lfu/build
InfLLM_backup
InfLLM/benchmark/longbench-result
InfLLM/benchmark/per_head_on
InfLLM/benchmark/per_head_off
InfLLM/image
InfLLM/benchmark/result*
