accelerate==1.0.1
datasets==2.21.0
fuzzywuzzy==0.18.0
huggingface-hub==0.24.6
jieba==0.42.1
kmeans-gpu==0.0.5
levenshtein==0.25.1
loguru==0.7.2
markupsafe==2.1.5
matplotlib==3.9.2
numpy==1.26.3
omegaconf==2.3.0
pandas==2.2.2
pybind11==2.13.6
pybind11-global==2.13.6
rouge==1.0.1
rouge-score==0.1.2
safetensors==0.4.4
scikit-learn==1.5.1
scikit-learn-intelex==2024.6.0
scipy==1.14.0
seaborn==0.13.2
sentencepiece==0.2.0
transformers==4.43.3
wandb
hf_transfer